<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gtr</title>
</head>
<body>
<h1>Nissan GT-R</h1><br>
<p>The Nissan Skyline GTR R34 has elvoled and fine-tuned through 11 years of competitive racing and extensive testing, which has resulted in one of the best race-bred coupes on the market.

The R33 which it replaced was a great car but the R34 GTR is much more advanced in every area. Under the hood are twin ceramic intercooled turbochargers, which effectively eliminate turbo-lag. The RB26DETT in-line, 2568cc six-cylinder engine retains the 280PS at 6,800 rpm of the R33 it replaced. It also has better power delivery and more torque than it predecessor. Also the R34’s body is stiffer and the aerodynamics of the car have been improved.

The R34’s engine keeps the general layout of straight six-cylinder configuration with twin overhead camshafts and four-valves per cylinder and twin turbochargers. As before, the throttle chamber has six individual throttle valves (one per cylinder) isolating each engine cylinder from the rest and acting like six individual single-cylinder engines. The power is fed through a new six-speed close ratio Getrag gearbox.

Nissan’s electronically controlled four-wheel drive system “ATTESA-E-TS PRO” is specifically designed for both road and racetrack use. Most other all-wheel drive systems are designed for off-road applications or rally cars. The system was designed for more high speed road use, it has a series of sensors and two centrally controlled wet multi-plate clutches to optimise torque split between the front and rear axles. It eliminates understeer and gives optimum traction and stability under acceleration, braking and cornering.

The Nissan Skyline R34 GTR has cut weight in many areas. From the light alloy wheels, which save over 7.7kg, the rear diffuser is now made from a lightweight carbon fibre. All the way to the use of light-weight audio speakers. In addition a new type of aluminium has been used for the front wings and bonnet which has saved about 1kg compared to the hoods of the previous models.

 </p>
</body>
</html>