<!DOCTYPE html>
<html>
<head>
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
</style>
</head>
<body style="background-color:Cornflowerblue;">
<img src="https://static.wikia.nocookie.net/forzamotorsport/images/a/aa/HOR_XB1_Toyota_Supra_98.png/revision/latest?cb=20191031204012" height="250px">
<img src="https://static.wikia.nocookie.net/forzamotorsport/images/7/71/HOR_XB1_Nissan_GT-R_02.png/revision/latest/scale-to-width-down/699?cb=20190916182945" height="250px">
<img src="https://static.wikia.nocookie.net/forzamotorsport/images/e/eb/HOR_XB1_Audi_R8_16.png/revision/latest/scale-to-width-down/699?cb=20191016205352" height="250px">
<br>
<a href="http://127.0.0.1:8000/toyota_supra"><button class="button button1" style="background-color:blue;position: relative; top: 40px; left: 125px;" >Toyota supra</button></a>
<a href="http://127.0.0.1:8000/nissan_gtr"><button class="button button1" style="background-color:blue;position: relative; top: 40px; left: 425px;" >Nissan GT-R</button>
<a href="http://127.0.0.1:8000/audi_r8"><button class="button button1" style="background-color:blue;position: relative; top: 40px; left: 725px;" >Audi R8</button>
</body>
</html>